<div class="link-copy">
	<p class="copytext_<%= quiz.id %>" style="display: none;"><%= request.url %></p>
	<span class="copy_btn_<%= quiz.id %> copy-btn">
		<i class="fas fa-link"></i>
	</span>
</div>

<script>
	$(function() {
		$('.copy_btn_<%= quiz.id %>').on('click',function(){
			let text = $('.copytext_<%= quiz.id %>').text();
			let $textarea = $('<textarea></textarea>');
			$textarea.text(text);
			$(this).append($textarea);
			$textarea.select();
			document.execCommand('copy');
			$textarea.remove();
			$('#ajax-flash').html('リンクをコピーしました！');
			$('#ajax-flash').show().delay(2000).fadeOut();
		});
	});
</script>