<% if user_signed_in? %>

  <div id="quiz-form">
    <div class="close-quiz-form">
      <i class="fa fa-2x fa-times"></i>
    </div>

    <%= form_with(model: new_quiz, local: true) do |f| %>
      <!-- カテゴリー -->
      <div class="field">
        <%= f.select :category, Quiz.categories.keys.to_a, {include_blank: "カテゴリーを選択してください"}, class: "form-control" %>
      </div>
      <!-- 問題文 -->
      <div class="field">
        <div class="question_cnt_area"><span class="question_now_cnt">0</span> / 500</div>
        <%= f.text_area :question, placeholder: "問題文", class: "question-area form-control" %>
      </div>
      <!-- 答え -->
      <div class="field">
        <div class="answer_cnt_area"><span class="answer_now_cnt">0</span> / 200</div>
        <%= f.text_area :answer, placeholder: "答え", class: "answer-area form-control" %>
      </div>
      <!-- 解説 -->
      <div class="field">
        <div class="explanation_cnt_area"><span class="explanation_now_cnt">0</span> / 500</div>
        <%= f.text_area :explanation, placeholder: "解説があったら嬉しいな…", class: "explanation-area form-control" %>
      </div>
      <!-- タグ -->
      <div class="field">
        <%= f.text_area :tag_list, placeholder: "タグ（ , でくぎってください）", class: "form-control" %>
      </div>

      <%= f.submit '投稿', class: "btn btn-warning quiz-send" %>
    <% end %>
  </div>

<% else %>

  <div class="please-signin">
    <div class="close-quiz-form">
      <i class="fa fa-2x fa-times"></i>
    </div>

    <h3 class="mb-4">ログインしてクイズを投稿しよう！</h3>
    <%= link_to 'ログインはこちら!', new_user_session_path, class: "btn btn-outline-warning" %>
    <%= link_to '新規登録はこちら!', new_user_registration_path, class: "btn btn-outline-primary" %>
  </div>

<% end %>