<div id="quiz-form">
  <div class="close-quiz-form">
    <i class="fa fa-2x fa-times"></i>
  </div>
  <% if user_signed_in? %>
      <%= form_for new_quiz do |f| %>
        <div class="field">
          <%= f.select :category, Quiz.categories.keys.to_a, {include_blank: "カテゴリーを選択してください"}, class: "form-control" %>
        </div>
        <div class="field">
          <div class="question_cnt_area"><span class="question_now_cnt">0</span> / 500</div>
          <%= f.text_area :question, placeholder: "問題文", class: "question-area form-control" %>
        </div>
        <div class="field">
          <div class="answer_cnt_area"><span class="answer_now_cnt">0</span> / 200</div>
          <%= f.text_area :answer, placeholder: "答え", class: "answer-area form-control" %>
        </div>
        <div class="field">
          <div class="explanation_cnt_area"><span class="explanation_now_cnt">0</span> / 500</div>
          <%= f.text_area :explanation, placeholder: "解説があったら嬉しいな…", class: "explanation-area form-control" %>
        </div>
        <%= f.submit '投稿', class: "btn btn-warning quiz-send" %>
      <% end %>
    </div>
  <% else %>
    <h3>ログインしてクイズを投稿しよう！</h3>
    <%= link_to 'ログイン', new_user_session_path %>
    <%= link_to '新規登録', new_user_registration_path %>
  <% end %>
</div>