<div class="quiz-box">
	<!-- 投稿したユーザー -->
	<div class="quiz-user">
		<%= link_to user_path(quiz.user), class: "quiz-user-link" do %>
			<%= attachment_image_tag quiz.user, :image, size: "40x40", format: 'jpeg', class: "rounded-circle", fallback: "sozai_cman_jp_20200510165455.jpg" %>
			<span class="user-name"><%= quiz.user.nick_name %></span>
		<% end %>
		<% if user_signed_in? %>
			<% if quiz.user_id == current_user.id %>
				<%= link_to '編集', edit_quiz_path(quiz) %>
				<%= link_to '削除', quiz_path(quiz), method: :delete, "data-confirm" => "本当に削除しますか?", class: "ml-2" %>
			<% end %>
		<% end %>
	</div>

	<!-- カテゴリー -->
	<% unless quiz.category.nil? %>
		<div class="category">
			<%= link_to quiz.category, quizzes_path(category: quiz.category) %>
		</div>
	<% end %>

	<!-- タグ -->
	<% unless quiz.tags.blank? %>
		<div class="tags">
			<% quiz.tags.each do |tag| %>
				<%= link_to tag.name, quizzes_path(tag: tag) %>
			<% end %>
		</div>
	<% end %>

	<!-- 問題文 -->
	<div>
		<h4>問題</h4>
		<p><%= simple_format(quiz.question) %></p>
	</div>

	<!-- 答え -->
	<h4 class="answer-show">答えを見る</h4>
	<div class="answer">
		<P><%= simple_format(quiz.answer) %></P>
		<!-- 解説 -->
		<% unless quiz.explanation == "" %>
			<h4 class="explanation-show">解説を見る</h4>
			<div class="explanation">
				<p><%= simple_format(quiz.explanation) %></p>
			</div>
		<% end %>
	</div>

	<!-- お気に入りとコメント -->
	<div class="favorite-comment">
		<div class="favorite_comment_<%= quiz.id %>">
			<%= render 'favorite_comment', quiz: quiz %>
		</div>
		<span class="comment-form-show">コメントする</span>
	</div>
</div>