<div id="sideber" class="text-center bg-light p-4">
	<% if user_signed_in? %>
		<div>
			<%= link_to user_path(current_user) do %>
				<%= attachment_image_tag current_user, :image, size: "60x60", format: 'jpeg', class: "rounded-circle", fallback: "sozai_cman_jp_20200510165455.jpg" %>
				<h3 class="strong"><%= current_user.nick_name %></h3>
			<% end %>
			<%= link_to notifications_path, remote: true do %>
				<i class="far fa-bell"></i>
			<% end %>
			<% if unchecked_notifications.any? %>
				<i class="fa fa-circle" style="color: gold;"></i>
			<% end %>
		</div>
		<ul class="list-unstyled">
			<li>
				<h3><%= link_to 'ホーム', quizzes_path %></h3>
			</li>
			<li>
				<h3 class="category-show">カテゴリ<span>＋</span></h3>
				<div class="category-item">
					<p>テスト</p>
				</div>
			</li>
			<li>
				<h3>人気クイズ</h3>
			</li>
			<li>
				<h3><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></h3>
			</li>
			<li>
				<h3><%= link_to 'Q.flatとは？', '/homes/about' %></h3>
			</li>
		</ul>
	<% else %>
		<ul class="list-unstyled">
			<li>
				<h3>カテゴリ</h3>
			</li>
			<li>
				<h3>人気クイズ</h3>
			</li>
			<li>
				<h3><%= link_to '新規登録', new_user_registration_path %></h3>
			</li>
			<li>
				<h3><%= link_to 'ログイン', new_user_session_path %></h3>
			</li>
			<li>
				<h3><%= link_to 'Q.flatとは？', '/homes/about' %></h3>
			</li>
		</ul>
	<% end %>
	<div id="quiz-form-show" class="btn btn-primary">
		<span>クイズを投稿する</span>
	</div>
</div>