<!DOCTYPE html>
<html>
  <head>
    <title>QFlat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <!-- ヘッダー -->
    <%= render 'layouts/header' %>

    <div class="row">
      <!-- サイドバー -->
      <div class="col-md-3">
        <%= render 'layouts/sideber' %>
      </div>

      <!-- メインコンテンツ -->
      <div class="col-md-9">
        <div class="offset-1 col-md-10">
          <!-- フラッシュメッセージ -->
          <% if flash[:notice] %>
            <h4 id="flash"><%= flash[:notice] %></h4>
          <% end %>

          <%= yield %>

        </div>
      </div>
    </div>

    <!-- トップへ戻るボタン -->
    <span id="top-btn">
      <a href="#">
        <i class="fas fa-angle-up"></i>
      </a>
    </span>

    <!-- クイズフォーム -->
    <div id="quiz-form-wrapper">
      <%= render 'quizzes/quiz_form', new_quiz: @new_quiz %>
    </div>

    <!-- 通知画面 -->
    <% if user_signed_in? %>
      <div class="notification-wrapper">
        <%= render 'layouts/notification', notifications: @notifications %>
      </div>
    <% end %>
  </body>
</html>
