<!DOCTYPE html>
<html>
  <head>
    <title>QFlat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="row">
      <div class="col-md-3">
        <%= render 'layouts/sideber' %>
      </div>
      <div class="col-md-9">
        <% if flash[:notice] %>
          <h4 id="flash"><%= flash[:notice] %></h4>
        <% end %>
        <%= yield %>
      </div>
    </div>

    <span id="top-btn">
      <a href="#">
        <i class="fas fa-angle-up"></i>
      </a>
    </span>

    <div class="quiz-form-wrapper">
      <%= render 'quizzes/quiz_form', new_quiz: @new_quiz %>
    </div>

    <% if user_signed_in? %>
      <div class="notification-wrapper">
        <%= render 'layouts/notification', notifications: @notifications %>
      </div>
    <% end %>
  </body>
</html>
