<!DOCTYPE html>
<html>
  <head>
    <title>QFlat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>

  <body>
    <div class="container-fluid" style="padding: 0; overflow-x: hidden;">
      <!-- ヘッダー -->
      <%= render 'layouts/header' %>

      <div class="row">
        <!-- サイドバー -->
        <div class="col-lg-3 col-xs-10">
          <%= render 'layouts/sideber' %>
        </div>

        <!-- メインコンテンツ -->
        <div class="main col-lg-9 col-xs-12">
          <div class="offset-lg-1 col-lg-10 col-xs-12 mb-4">
            <div class="main-contents">
              <!-- フラッシュメッセージ -->
              <% unless request.url.include?("sign_in") %>
                <%- flash.each do |name, msg| -%>
                  <h4 id="flash"><%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %></h4>
                <%- end -%>
              <% end %>
              <h4 id="ajax-flash"></h4>

              <%= yield %>

            </div>
          </div>
        </div>
      </div>

      <div class="overlay"></div>

      <!-- トップへ戻るボタン -->
      <span id="top-btn">
        <a href="#">
          <i class="fas fa-angle-up"></i>
        </a>
      </span>

      <!-- クイズフォーム -->
      <div id="quiz-form-wrapper">
        <%= render 'quizzes/quiz_form', new_quiz: @new_quiz %>
      </div>

      <!-- 通知画面 -->
      <% if user_signed_in? %>
        <div class="notification-wrapper">
          <%= render 'layouts/notification', notifications: @notifications %>
        </div>
      <% end %>
    </div>
  </body>
</html>
